        .header-container a{
  float: right;
  color: black;
  font-weight:bold;
  text-align: center;
  text-decoration: none;
  font-color: black;
  font-size: 20px;
  padding-top: 60px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
    }
    .topnav a {
      float: right;
      color: black;
      font-weight:bold;
      text-align: center;
      text-decoration: none;
      font-color: black;
      font-size: 20px;
      padding-top: 60px;
      padding-right: 30px;
      padding-bottom: 10px;
      padding-left: 30px;
    }
        #acasa{
         text-align:left;
        padding-top: 20px;
        padding-bottom: 10px;
        padding-left:20px;
        }